div h2{
    color:orange;
}
div button{
    color:white;
    background-color: blue;
}
div p{
    color: white;
    background-color:black ;
}
div{
    background-color: lightgrey;
}
div.rrr{
 background-color: black;
 color:rgb(255,255,255);
}
div.one{
    height:100px;
    width:90px;
    border-radius: 30%;
    background-color:rgb(255,255,0) ;
}
div.two{
    height: 100px;
    width:90px;
    border-radius: 40%;
    background-color: rgb(102, 10, 240);
}
div.three{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: League sapartan;
    height:400px;
    color:#ffa511;
    font-size:55px;
    font-weight: 900;
    letter-spacing: 20px;
    text-decoration:teal double underline;
    background-color: rgb(134, 132, 132);
}
div.face{
   font-family: 'Courier New';
}
div.face h1{
    color: #1b74e4;
}
.btn1{
    color: black;
    background-color: aqua;
}
.btn2{
    background-color: black;
}