body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: lightgray;
}
form{
    padding-left:90px ;
    height: 630px;
    width: 500px;
    border: 1px solid red;
}
.size{
    font-weight: bold;
}